<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487049617739-bstbnrcreos5s94b2rkthfm5qsq8lctn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487049617739-bstbnrcreos5s94b2rkthfm5qsq8lctn</string>
	<key>API_KEY</key>
	<string>AIzaSyAA3VD8Vx7xBUXrJ7AjbG725V0UebQBL0s</string>
	<key>GCM_SENDER_ID</key>
	<string>487049617739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.worldcarry.app</string>
	<key>PROJECT_ID</key>
	<string>worldcarry-402ab</string>
	<key>STORAGE_BUCKET</key>
	<string>worldcarry-402ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487049617739:ios:0bfd1835329717386288ce</string>
	<key>DATABASE_URL</key>
	<string>https://worldcarry-402ab-default-rtdb.firebaseio.com</string>
</dict>
</plist>